{% extends 'base.html' %}

{% block content %}
<div class="header-container">
    <div class="container">
        <div class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <span class="fs-4 ms-2">Онлайн пинг</span>
                <li class="nav-item d-flex align-items-center">
                    <button id="theme-toggle" class="theme-toggle nav-link" aria-label="Переключить тему">
                        <span class="theme-icon"></span>
                    </button>
                </li>
            </div>

            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a href="/" class="nav-link">Главная</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<form action="/" method="POST">
    <input class="form-control" name="host" id="host">
    <button class="btn btn-primary" type="submit">Сделать ping IP</button>
</form>
<div align="center">
    <h3>Результат выполнения команды:</h3>
    <pre>Команда: {{command}}</pre>
    <h4>Вывод:</h4>
    <pre>{{res}}</pre>
    <h4 class="btn btn-danger">Ошибки:</h4>
    <pre>{{errors}}</pre>
    <p>Код возврата: {{code}}</p>
</div>
{% endblock %}